# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
.env/

# IDEs
.idea/
.vscode/

# Logs y cachés
*.Logs
*.sqlite3
.cache/
pytest_cache/
*.bin
*.pickle

# Archivos
*.png
*.jpg
*.pkl
*.yaml
*.zip

# MlFlow runs
/mlartifacts
/mlruns

# Datasets
/data
/images
/src/train/yolo_dataset

# Modelo
/src/train/runs
/wandb

# Modelos
*.pt
*.pkl
