# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
.env/

# IDEs
.idea/
.vscode/

# Logs y cachés
*.Logs
*.sqlite3
.cache/
pytest_cache/
*.bin
*.pickle

# Archivos
*.jpg
*.pkl
*.zip

# MlFlow runs
/mlartifacts
/mlruns

# Datasets
/data
/images


# Modelo
/src/train/runs
/wandb
/src/wandb

# Modelos
*.pt
*.pkl
